.createdByWrap {
  position: relative;
  display: inline-block;
}

/* Replica directa del CSS clásico */
.createdBy {
  display: inline-block;
  font-family:Satisfy,cursive;
  position: absolute;
  transform: rotate(-12deg);
  font-weight: 200;
  line-height: 18px;
  top: -1.5rem;     /* equivalente a margin-top:-1.5rem */
  left: 6rem;      /* equivalente a margin-left:-8rem */
  color: #0f172a;   /* slate-900 aproximado */
}

.createdBy span {
  font-style: oblique;
  font-variant-ligatures: discretionary-ligatures;
  font-size: x-large;
  font-weight: 200;
  position: absolute;
  left: 0;
  transform: skewX(-10deg);
}
